#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>


#define DEFAULT 0
#define MAC 1
#define NAV 2
#define NUM 3
#define FN 4

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        backspace_b_default {
            bindings = <&kp LS(LALT)>;
            key-positions = <44 56>;
            layers = <0>;  // DEFAULT layer only
            timeout-ms = <50>;
        };

        backspace_b_mac {
            bindings = <&kp CAPS>;
            key-positions = <44 56>;
            layers = <1>;  // MAC layer only
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE     &kp N1        &kp N2        &kp N3     &kp N4         &kp N5           &kp UP_ARROW     &kp N6       &kp N7     &kp N8     &kp N9        &kp N0      &kp MINUS
&kp TAB       &kp Q         &kp W         &kp E      &kp R          &kp T            &kp DOWN_ARROW   &kp Y        &kp U      &kp I      &kp O         &kp P       &kp EQUAL
&kp LCTRL     &kp A         &kp S         &kp D      &kp F          &kp G            &kp LEFT_ARROW   &kp H        &kp J      &kp K      &kp L         &kp SEMI    &kp SQT
&kp LSHFT     &kp Z         &kp X         &kp C      &kp V          &kp B            &kp RIGHT_ARROW  &kp N        &kp M      &kp COMMA  &kp DOT       &kp FSLH    &kp RSHIFT
&kp LS(LALT)  &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE  &kp BACKSPACE  &lt NAV HOME       &kp BSLH         &lt NUM END  &kp DEL    &kp ENTER  &kp BSLH      &lt FN ESC            
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
            display-name = "DEF";
        };

        mac_layer {
            bindings = <
&kp GRAVE  &trans  &trans     &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans     &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LGUI   &trans  &trans     &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans     &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp CAPS   &trans  &kp LCTRL  &trans  &trans  &lt NAV CAPS       &trans  &trans  &trans  &trans  &trans  &trans 
            >;

            display-name = "MAC";
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        
        nav_layer {
            bindings = <
&none   &none   &none   &none   &none   &kp ESC          &kp HOME   &kp ESC   &kp HOME &kp INS  &kp PG_UP  &none  &none
&trans  &none   &kp LBRC  &kp RBRC   &none   &kp CAPS       &kp END    &none   &kp END  &kp UP   &kp PG_DN  &none   &none
&trans  &none   &kp LPAR  &kp RPAR   &none   &kp PSCRN      &kp PG_UP  &none   &kp LEFT &kp DOWN &kp RIGHT  &none   &none
&trans  &none   &kp LBKT  &kp RBKT   &none   &none          &kp PG_DN  &none   &none    &none    &none      &none  &none
&trans  &trans  &trans  &trans  &trans  &tog MAC       &trans     &trans  &trans     &none    &none      &none   
         >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "NAV";
        };

        num_layer {
            bindings = <
&none   &none   &none   &none   &none   &kp ESC          &kp PG_UP  &kp ESC   &kp KP_NUM  &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_MINUS  &none
&trans  &none   &kp LBRC  &kp RBRC   &none   &kp CAPS       &kp PG_DN  &none   &kp KP_N7   &kp KP_N8     &kp KP_N9        &kp KP_PLUS   &none
&trans  &none   &kp LPAR  &kp RPAR   &none   &kp PSCRN      &kp HOME   &none   &kp KP_N4   &kp KP_N5     &kp KP_N6        &kp KP_PLUS   &none
&trans  &none   &kp LBKT  &kp RBKT   &none   &none          &kp END    &none   &kp KP_N1   &kp KP_N2     &kp KP_N3        &kp KP_ENTER  &none
&trans  &trans  &trans  &trans  &trans  &tog MAC       &trans     &trans  &trans    &trans       &kp KP_N0       &kp KP_DOT   
         >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "NUM";
        };

        fn_layer {
            bindings = <
&none   &kp F1  &kp F2    &kp F3    &kp F4  &kp F5       &none       &kp F6  &kp F7      &kp F8      &kp F9      &kp F10  &kp F11
&trans  &none   &kp LBRC  &kp RBRC  &none   &none        &none       &none   &bt BT_CLR  &bt BT_PRV  &bt BT_NXT  &none    &kp F12
&trans  &none   &kp LPAR  &kp RPAR  &none   &none        &kp C_PREV  &none   &none       &none       &none       &none    &none
&trans  &none   &kp LBKT  &kp RBKT  &none   &none        &kp C_NEXT  &none   &none       &none       &none       &none    &none
&trans  &trans  &trans    &trans    &trans  &trans       &kp C_PP    &trans  &trans      &trans      &none      &trans            
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "FN";
        };
    };
};
